:root {
    --black: #0A0A0A;
    --graphite: #2A2A2A;
    --silver: #CFCFCF;
    --red: #D10000;
    --white: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background: var(--white);
}

.header {
    background: var(--black);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .conta {
    display: flex;
    gap: 60px;
}

.header .conta button {
    background-color: transparent;
    border: 0;
}

.hero {
    height: 20vh;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero-text h1 {
    font-size: 55px;
    color: var(--black);
}

.hero-text p {
    font-size: 20px;
    margin: 15px 0;
    color: var(--graphite);
}

main {
    color: var(--black);
    padding-bottom: 60px;
}

.modelos {
    padding: 60px 0;
    text-align: center;
}

.modelos h2 {
    font-size: 40px;
}

.cards-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.car-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    background: var(--black);
    border: 2px solid var(--graphite);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
}

.car-card:hover {
    transform: scale(1.01);
}

.car-card img {
    width: 100%;
}

.car-card h3 {
    font-size: 24px;
    color: var(--white);
    margin: 15px;
}

.car-card p {
    font-size: 16px;
    color: var(--silver);
    margin: 0 15px 18px 15px;
}

.car-card button {
    background-color: transparent;
    border: 0;
    width: 40px;
    margin: 10px;
}

.btn-card {
    display: inline-block;
    margin: 0 15px 20px 15px;
    padding: 10px 20px;
    background: var(--red);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-card:hover {
    background: #990000;
}

footer {
    background: var(--black);
    color: var(--silver);
    padding: 60px 0 25px;
    margin-top: 40px;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.footer-logo {
    font-size: 26px;
    font-weight: bold;
}

.footer-logo span {
    color: var(--red);
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons img {
    transition: 0.2s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid var(--graphite);
    padding-top: 20px;
    font-size: 14px;
}

.addProduto {
    width: 310px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    border: 2px solid var(--graphite);
    border-radius: 15px;
    transition: 0.4s ease;
}

.addProduto:hover {
    transform: scale(1.02);
}

#addProduto {
    background: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

#addProduto img {
    width: 55px;
    opacity: 0.8;
    transition: 0.3s;
}

#addProduto p {
    color: var(--white);
    font-size: 20px;
}

#addProduto:hover img {
    opacity: 1;
    transform: scale(1.06);
}

#addProduto:hover p {
    color: var(--red);
}

#newCars {
    display: contents;
}

.card-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.card-buttons button {
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}

.card-buttons button:hover {
    transform: scale(1.1);
}
