@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Oswald";
}

header {
    background-color: #2A2A2A;
    color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

header .conta {
    display: flex;
    justify-content: end;
}

main {
    background-color: #F6F6F6;
    height: auto;
    color: #2A2A2A;
}

footer {
    background-color: #2A2A2A;
    color: #F6F6F6;
}