body{
    background-color: rgb(0, 119, 255);
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

a{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    margin-right: 16px;
}

a:hover{
    background-color: rgba(0, 0, 232, 0.5);
    padding: 8px 0px;
    border-radius: 8px;
    cursor: pointer;
}

button, input{
    background-color: black;
    color: white;
    padding: 8px 8px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 1.25rem;
}